<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- id随便起，class为类的完整名称 -->
    <bean id="userService" class="vvr.IoC.UserServiceImpl">
    	<!-- 相当于注入一个字符串，并赋值，value用于普通属性的赋值 -->
    	<property name="name" value="小明"/>
    </bean>
    
    
    <!-- 演示依赖注入，对象之间 -->
    <bean id="CustomerDao" class="vvr.DI.CustomerDaoImpl"/>
    <bean id="CustomerService" class="vvr.DI.CustomerServiceImpl">
    	<!-- 加入依赖 ,name为service中的属性名称，ref为引用，即上面配置的bean的ID-->
    	<property name="customerDao" ref="CustomerDao"/>
    </bean>
    
    
    <!-- 通过构造方法注入 -->
    <bean id="car" class="vvr.demo4.Car">
    	<!-- 通过构造方法注入需要使用constructor-arg标签，name表示属性名，value表示想要传入的值
    		 index表示第几个属性，从0开始 -->
    	<!-- <constructor-arg name="name" value="保时捷"/>
    	<constructor-arg name="price" value="100000000000000"/> -->
    	<constructor-arg index="0" value="怕哪摸哪"/>
    	<constructor-arg index="1" value="100000000000000"/>
    </bean>
    
    <!-- 通过构造函数注入对象 -->
    <bean id="person" class="vvr.demo4.Person">
    	<constructor-arg name="name" value="小明"/>
    	<constructor-arg name="car" ref="car"/>
    </bean>
</beans>